<p>
<h2>Title of the request</h2>
<h3><%= @detail.title %></h3>
</p>
<p>
<h2>Description of the Request</h2>
<h3><%= @detail.description %></h3>
</p>
<p>
<h2>Objective of the request</h2>
<h3><%= @detail.objective %></h3>
</p>
<h2>Analytics that they want to track</h2>
<h3><%= @detail.analytics %></h3>
</p>
<p>
<h2>Deadline for the request</h2>
<h3><%= @detail.expected_deadline %></h3>
<p>

<%= link_to 'Back', details_path %>
